name: CI

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: 'csharp'
        queries: security-and-quality
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore src/OctoshiftCLI.sln
    - name: Build
      run: dotnet build src/OctoshiftCLI.sln --no-restore
    - name: Unit Test
      run: dotnet test src/OctoshiftCLI.sln --filter FullyQualifiedName\!~Integration --no-build --verbosity normal
    - name: Integration Test
      env: 
        ADO_PAT: ${{ secrets.ADO_PAT }}
      run: dotnet test src/OctoshiftCLI.sln --filter FullyQualifiedName\~Integration --no-build --verbosity normal
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1

  publish:
    if: startsWith(github.ref, '/refs/tags/v')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Build Artifacts
      run: ./publish.ps1
    - name: Create Release
      uses: softprops/action-gh-release@v1
        with:
          files: |
            ./dist/octoshift.win-x64.zip
            ./dist/octoshift.linux-x64.tar.gz
            ./dist/octoshift.osx-x64.tar.gz