name: Setup Development Environment

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

permissions:
  contents: read

jobs:
  # The job name MUST be 'copilot-setup-steps' to be picked up by GitHub Copilot
  copilot-setup-steps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          global-json-file: global.json

      - name: Restore dependencies
        run: dotnet restore src/OctoshiftCLI.sln
